<template name="Header">
    <nav role="navigation" class="navbar topnavbar header xs-hidden sm-hidden">
       <div class="navbar-header ">
          <a href="#/" class="navbar-brand">
             <div class="brand-logo">
                <img src="logo.png" alt="App Logo" class="img-responsive" />
             </div>
             <div class="brand-logo-collapsed">
                <img src="img/logo-single.png" alt="App Logo" class="img-responsive" />
             </div>
          </a>
       </div>

       <!-- START Nav wrapper-->
       <div class="navbar-collapse collapse">
          <!-- START Left navbar-->
          <ul class="nav navbar-nav navbar-right">
              {{> loginButtons }}
          </ul>
       </div>
    </nav>
</template>
